* { font-family: clean,verdana, sans-serif; }

body {
  background: #F0FFFF;
  color: #483C32;
}

h1 {
	font-size: 5 em;
	text-align: center;
}

p {
	text-align: center;
}

.data {
	text-align: center;
}

.buttons {
  background-color: #3e95cd; /* Green */
  border: none;
  border-radius: 12px;
  color: #F0FFFF;
  padding: 15px 32px;
  margin:5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.illustrations {
	text-align: center;
}

canvas{
    width: 80% !important;
/*    height: 700px !important; */
    margin: 0 auto;
}